# Import Required Packagesrting Libraries

In [1]:
from pathlib import Path # to interact with file system.

import numpy as np # for working with arrays.
import pandas as pd # for working with data frames (tables).

from sklearn.model_selection import train_test_split # for data partition.
from sklearn.metrics import r2_score # to identify r_squared for regression model.
from sklearn.linear_model import LinearRegression # for linear regression model. 
from sklearn.metrics import r2_score

import statsmodels.formula.api as sm

from dmba import regressionSummary, exhaustive_search
from dmba import backward_elimination, forward_selection, stepwise_selection
from dmba import adjusted_r2_score, AIC_score, BIC_score

%matplotlib inline 
import matplotlib.pylab as plt # for building and showing graphs.

no display found. Using non-interactive Agg backend

# Upload data set for analysis.

In [2]:
# Create a data frame in Python using winequality-red.csv file.
winequality_df = pd.read_csv('data/winequality-red.csv')

In [3]:
# Determine and display dimensions of data frame. 
print('Number of rows and columns in data set:', 
      winequality_df.shape )

Number of rows and columns in data set: (1599, 12)

In [4]:
# Display the first 5 rows of the dataframe. 
winequality_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
# Display the last five rows of the dataframe.
winequality_df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [6]:
# Display the column names.
print('Original column titles:')
winequality_df.columns

Original column titles:

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

# Data exploration, cleanup, and preprocessing.

In [7]:
# We strip trail spaces and replace the remaining spaces 
# with an underscore '_'. 
print('Modified column titles with no space and one word for titles:')
winequality_df.columns = [s.strip().replace(' ', '_') for s in winequality_df.columns]
winequality_df.columns

Modified column titles with no space and one word for titles:

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [8]:
#Detect duplicate values
duplicaterow = winequality_df[winequality_df.duplicated()]
duplicaterow

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
4,7.4,0.700,0.00,1.90,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
11,7.5,0.500,0.36,6.10,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
27,7.9,0.430,0.21,1.60,0.106,10.0,37.0,0.99660,3.17,0.91,9.5,5
40,7.3,0.450,0.36,5.90,0.074,12.0,87.0,0.99780,3.33,0.83,10.5,5
65,7.2,0.725,0.05,4.65,0.086,4.0,11.0,0.99620,3.41,0.39,10.9,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1563,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1564,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1567,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1581,6.2,0.560,0.09,1.70,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1596,6.3,0.510,0.13,2.30,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6

In [9]:
#Remove duplicate values
winequality_df = winequality_df.drop_duplicates()
winequality_df.shape

(1359, 12)

In [10]:
#Display count of missing values in other columns
winequality_df.isna().sum()

fixed_acidity           0
volatile_acidity        0
citric_acid             0
residual_sugar          0
chlorides               0
free_sulfur_dioxide     0
total_sulfur_dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [11]:
# Use describe() function to display column statistics
# for the entire data set. 
np.round(winequality_df.describe(), decimals=2)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
count,1359.00,1359.00,1359.00,1359.00,1359.00,1359.00,1359.00,1359.00,1359.00,1359.00,1359.00,1359.00
mean,8.31,0.53,0.27,2.52,0.09,15.89,46.83,1.00,3.31,0.66,10.43,5.62
std,1.74,0.18,0.20,1.35,0.05,10.45,33.41,0.00,0.16,0.17,1.08,0.82
min,4.60,0.12,0.00,0.90,0.01,1.00,6.00,0.99,2.74,0.33,8.40,3.00
25%,7.10,0.39,0.09,1.90,0.07,7.00,22.00,1.00,3.21,0.55,9.50,5.00
50%,7.90,0.52,0.26,2.20,0.08,14.00,38.00,1.00,3.31,0.62,10.20,6.00
75%,9.20,0.64,0.43,2.60,0.09,21.00,63.00,1.00,3.40,0.73,11.10,6.00
max,15.90,1.58,1.00,15.50,0.61,72.00,289.00,1.00,4.01,2.00,14.90,8.00

In [12]:
# Display column data types. 
winequality_df.dtypes

fixed_acidity           float64
volatile_acidity        float64
citric_acid             float64
residual_sugar          float64
chlorides               float64
free_sulfur_dioxide     float64
total_sulfur_dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

# Partition

In [13]:
# Identify predictors and outcome of the regression model.
predictors = ['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides', 'free_sulfur_dioxide','total_sulfur_dioxide', 'density', 'pH', 'sulphates',
               'alcohol']
outcome = 'quality'

print('Predictor Variables:', predictors)
print('Outcome Variable:', outcome)

Predictor Variables: ['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar', 'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density', 'pH', 'sulphates', 'alcohol']
Outcome Variable: quality

In [14]:
# Identify X and y variables for regression and partition data using 80% of records for training
# and 20% for validation (test_size=0.2). 
X = winequality_df[predictors]
y = winequality_df[outcome]
train_X, valid_X, train_y, valid_y = train_test_split(X, y, test_size=0.2, random_state=1)
print('Number of rows and columns of predictors in training data set:', 
      train_X.shape)
print('Number of rows and columns of predictors in validation data set:', 
      valid_X.shape)
print('Number of rows of outcome variable in training data set:', 
      train_y.shape)
print('Number of rows of outcome variable in validation data set:', 
      valid_y.shape)

Number of rows and columns of predictors in training data set: (1087, 11)
Number of rows and columns of predictors in validation data set: (272, 11)
Number of rows of outcome variable in training data set: (1087,)
Number of rows of outcome variable in validation data set: (272,)

# Develop multiple linear regression model

In [15]:
# Create multiple linear regression model using X and y and LinearRegression() function from sklearn (scikit-learn) 
# library.
redwine_lm = LinearRegression()
redwine_lm.fit(train_X, train_y)

# Display intercept and regression coefficients. Round them to 2 decimals.
print('Regression Model for Red Wine Quality Training Set')
print()
print('Intercept: ', np.round(redwine_lm.intercept_, 2))
print(pd.DataFrame({'Predictor': X.columns, 'Coefficient': np.round(redwine_lm.coef_, 2)}))

Regression Model for Red Wine Quality Training Set

Intercept:  4.11
               Predictor  Coefficient
0          fixed_acidity         0.01
1       volatile_acidity        -1.14
2            citric_acid        -0.19
3         residual_sugar        -0.00
4              chlorides        -1.56
5    free_sulfur_dioxide         0.01
6   total_sulfur_dioxide        -0.00
7                density         0.53
8                     pH        -0.62
9              sulphates         1.00
10               alcohol         0.30

In [16]:
# Use predict() to score (make) predictions for validation set.
redwine_lm_pred = redwine_lm.predict(valid_X)

# Develop and display data frame with actual values of MVALUE, scoring (predicted) results, and residuals.
# Use round() function to round vlaues in data frame to 2 decimals. 
print('Actual, Prediction, and Residual MVALUEs for Validation Set')
result = round(pd.DataFrame({'Actual': valid_y,'Predicted': redwine_lm_pred, 
                       'Residual': valid_y - redwine_lm_pred}), 2)
print(result.head(10))

Actual, Prediction, and Residual MVALUEs for Validation Set
      Actual  Predicted  Residual
473        5       6.09     -1.09
1376       5       5.03     -0.03
533        6       6.79     -0.79
200        7       6.10      0.90
268        6       5.38      0.62
210        6       6.48     -0.48
906        5       5.66     -0.66
1093       7       6.57      0.43
947        7       6.51      0.49
867        6       6.09     -0.09

In [17]:
# Use predict() function to make predictions for training set.
pred_y = redwine_lm.predict(train_X)

# Develop and display data frame with actual values of quality, scoring (predicted) results, and residuals.
# Use round() function to round vlaues in data frame to 2 decimals. 
print('Actual, Prediction, and Residual quality for Training Set')
result = round(pd.DataFrame({'Actual': train_y,'Predicted': pred_y, 
                       'Residual': train_y - pred_y}), 2)
print(result.head(10))

Actual, Prediction, and Residual quality for Training Set
      Actual  Predicted  Residual
1031       7       5.77      1.23
844        6       6.35     -0.35
38         4       4.37     -0.37
1384       5       4.89      0.11
611        5       5.60     -0.60
631        5       5.60     -0.60
7          7       5.28      1.72
816        6       5.68      0.32
1282       6       5.60      0.40
1081       7       5.77      1.23

In [18]:
# Use predict() function to make predictions for training set.
pred_y = redwine_lm.predict(train_X)

# Create prediction performance measures for training set.
r2 = round(r2_score(train_y, pred_y),3)
adj_r2 = round(adjusted_r2_score(train_y, pred_y, redwine_lm),3)
aic = round(AIC_score(train_y, pred_y, redwine_lm),2)
bic = round(BIC_score(train_y, pred_y, redwine_lm),2)

# Display prediction performance measures for training set.
print('Prediction Performance Measures for Training Set')
print('r2 : ', r2)
print('Adjusted r2 : ', adj_r2)
print('AIC : ', aic)
print('BIC : ', bic)
print() 

# Create prediction performance measures for validation set.
r2 = round(r2_score(valid_y, redwine_lm_pred),3)
adj_r2 = round(adjusted_r2_score(valid_y, redwine_lm_pred, redwine_lm),3)
aic = round(AIC_score(valid_y, redwine_lm_pred, redwine_lm),2)
bic = round(BIC_score(valid_y, redwine_lm_pred, redwine_lm),2)

# Display prediction performance measures for validation set.
print('Prediction Performance Measures for Validation Set')
print('r2 : ', r2)
print('adjusted r2 : ', adj_r2)
print('AIC : ', aic)
print('BIC : ', bic)

Prediction Performance Measures for Training Set
r2 :  0.383
Adjusted r2 :  0.377
AIC :  2193.17
BIC :  2258.06

Prediction Performance Measures for Validation Set
r2 :  0.257
adjusted r2 :  0.225
AIC :  578.82
BIC :  625.69

In [19]:
# Display common accuracy measures for training set.
print('Accuracy Measures for Training Set - All Variables')
regressionSummary(train_y, pred_y)
print()

# Display common accuracy measures for validation set.
print('Accuracy Measures for Validation Set - All Variables')
regressionSummary(valid_y, redwine_lm_pred)

Accuracy Measures for Training Set - All Variables

Regression statistics

                      Mean Error (ME) : 0.0000
       Root Mean Squared Error (RMSE) : 0.6557
            Mean Absolute Error (MAE) : 0.5037
          Mean Percentage Error (MPE) : -1.4578
Mean Absolute Percentage Error (MAPE) : 9.2685

Accuracy Measures for Validation Set - All Variables

Regression statistics

                      Mean Error (ME) : -0.0097
       Root Mean Squared Error (RMSE) : 0.6685
            Mean Absolute Error (MAE) : 0.5244
          Mean Percentage Error (MPE) : -1.6084
Mean Absolute Percentage Error (MAPE) : 9.7405